<a href="https://colab.research.google.com/github/dbtjr1103/Basic_practice/blob/main/37_%EC%9D%B8%ED%84%B0%EB%84%B7%EC%97%90_%EC%9E%88%EB%8A%94_%ED%91%9C%EB%A5%BC_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84%EC%9C%BC%EB%A1%9C_%EB%B0%94%EB%A1%9C_%EB%A7%8C%EB%93%9C%EB%8A%94_%EB%B0%A9%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 37장 인터넷에 있는 표를 데이터프레임으로 바로 만드는 방법

- 표 수집
    - 수집한 표 정보를 바로 표(데이터프레임)으로 변환할 수 있다.
    ```
    pd.read_html(str(HTML))
    표 데이터만 크롤링 해서 넣어주면 됨
    html.find를 써서 표를 찾아서 문자열(str)로 넣어주어야 함

    ```

In [1]:
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd

In [17]:
url = requests.get("https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page=1")
html = BeautifulSoup(url.text)
kospi_page = int(html.find('td', class_ = 'pgRR').find('a')['href'].split('=')[-1])

total = []

for n in range(1, kospi_page + 1):

    url = requests.get("https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page={}".format(n))
    html = BeautifulSoup(url.text)
    
    table = html.find('table', class_ = 'type_2')
    table = pd.read_html(str(table))[0] # 리스트 안에 있어서 [0]
    # NaN값들 - 실선, 등 
    table = table[table['종목명'].notnull()]

    del table['N']
    del table['토론실']

    total.append(table)
    time.sleep(1)

    print("{}페이지 저장완료...".format(len(total)))

1페이지 저장완료...
2페이지 저장완료...
3페이지 저장완료...
4페이지 저장완료...
5페이지 저장완료...
6페이지 저장완료...
7페이지 저장완료...
8페이지 저장완료...
9페이지 저장완료...
10페이지 저장완료...
11페이지 저장완료...
12페이지 저장완료...
13페이지 저장완료...
14페이지 저장완료...
15페이지 저장완료...
16페이지 저장완료...
17페이지 저장완료...
18페이지 저장완료...
19페이지 저장완료...
20페이지 저장완료...
21페이지 저장완료...
22페이지 저장완료...
23페이지 저장완료...
24페이지 저장완료...
25페이지 저장완료...
26페이지 저장완료...
27페이지 저장완료...
28페이지 저장완료...
29페이지 저장완료...
30페이지 저장완료...
31페이지 저장완료...
32페이지 저장완료...
33페이지 저장완료...
34페이지 저장완료...
35페이지 저장완료...
36페이지 저장완료...
37페이지 저장완료...
38페이지 저장완료...
39페이지 저장완료...

In [16]:
# 모든 코스피 페이지
kospi_page = int(html.find('td', class_ = 'pgRR').find('a')['href'].split('=')[-1])

In [18]:
len(total)

39

In [21]:
# 여러개의 df를 하나의 프레임으로 변경
kospi = pd.concat(total, ignore_index=True)
kospi.to_excel("kospi.xlsx")
kospi

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
0,삼성전자,57700.0,200.0,+0.35%,100.0,3444565.0,5969783.0,49.64,16902720.0,8.75,13.92
1,LG에너지솔루션,511000.0,2000.0,+0.39%,500.0,1195740.0,234000.0,4.58,472351.0,848.84,10.68
2,SK하이닉스,93500.0,1700.0,+1.85%,5000.0,680682.0,728002.0,50.97,2651021.0,5.93,16.84
3,삼성바이오로직스,884000.0,11000.0,+1.26%,2500.0,629178.0,71174.0,10.55,117998.0,117.57,8.21
4,삼성SDI,655000.0,5000.0,+0.77%,5000.0,450408.0,68765.0,45.44,276623.0,30.56,8.45
...,...,...,...,...,...,...,...,...,...,...,...
1905,삼성 레버리지 KRX BBIG K-뉴딜 ETN,2055.0,30.0,+1.48%,0.0,21.0,1000.0,0.00,10801.0,NaN,NaN
1906,KB 레버리지 KRX BBIG K-뉴딜 ETN,2055.0,20.0,+0.98%,0.0,21.0,1000.0,0.00,2182.0,NaN,NaN
1907,삼성 레버리지 HSCEI ETN(H),2015.0,30.0,+1.51%,0.0,20.0,1000.0,0.00,4564.0,NaN,NaN
1908,ARIRANG 코스닥150,10040.0,15.0,-0.15%,0.0,20.0,200.0,7.00,1365.0,NaN,NaN
1909,KBSTAR 200생활소비재,5855.0,20.0,+0.34%,0.0,11.0,180.0,0.00,40.0,NaN,NaN